<!DOCTYPE html>
<html>
<head>
  <title>Hpt</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <h1 align="right"><%= link_to "Oahu-Foreclosure.com", "#" %></h1>
    <div id="user_bar" align="right" >
        <%= link_to "clay.ashby@gmail.com", "#" %> | 
        <%= link_to "New Article", "#" %> |
        <%= link_to "New User", "#" %> |
        <%= link_to "Password", "#" %> |
        <%= link_to "Logout", "#" %>

    </div>
  </div>
<%= yield %>

</body>
</html>
